{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% block title %}Password Change{% endblock %}
{% block styles %}

{% endblock %}

{% block content %}
{#    <h1>Password change</h1>#}
{#    <p>Please enter your old password, for security's sake, and then enter your#}
{#        new password twice so we can verify you typed it in correctly.</p>#}
{#    <form method="POST">#}
{#        {% csrf_token %}#}
{#        {{ form.as_p }}#}
{#        <input class="btn btn-success" type="submit" value="Change my password">#}
{#    </form>#}

    <div style="width: 100%" class="col d-flex justify-content-center">
        <div class="card border-dark mb-3" style="width: 30rem; margin-top: 2vh; margin-left: 2vh; margin-right: 2vh">
            <div class="card-header">
                <div style="text-align: left; margin-top: 5vh">
                    <h1 style="font-family: sans-serif;font-size: 25px;font-weight: 600;">Change Password</h1>
                </div>
            </div>
            <div class="card-body" style="margin-top: -2vh;">
                <p class="card-text">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.old_password|as_crispy_field }}
                    {{ form.new_password1|as_crispy_field }}
                    {{ form.new_password2|as_crispy_field }}
                    <div style="margin-top: 3vh" class="d-grid gap-2">
                        <button class="btn btn-danger" type="submit">Change my password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
