{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% block title %}Reset Complete{% endblock %}
{% block styles %}

{% endblock %}

{% block content %}

    <div style="width: 100%; margin-top: 25vh" class="col d-flex justify-content-center">
        <div class="card" style="width: 21.5rem;">
            <div class="card-body">
                <div style="text-align: center" class="alert alert-success" role="alert">
                    Your password has been reset.
                </div>
            </div>
            <a style="margin-bottom: 1vh; margin-right: 1vh; margin-left: 1vh" href="{% url 'login' %}"
               class="btn btn-success btn-block"
               role="button">Login</a>
        </div>
    </div>

{% endblock content %}
