{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% block title %}Password Change Successful{% endblock %}
{% block styles %}

{% endblock %}

{% block content %}

    <div style="width: 100%; margin-top: 25vh" class="col d-flex justify-content-center">
        <div class="card" style="width: 23rem;">
            <div class="card-body">
                <div style="" class="alert alert-success" role="alert">
                    We have sent you an email with instructions on how to reset your password.
                </div>
            </div>
            <a style="margin-bottom: 1vh; margin-right: 1vh; margin-left: 1vh" href="{% url 'home' %}"
               class="btn btn-dark btn-block"
               role="button">Home</a>
        </div>
    </div>

{% endblock content %}
