body {
    background: #00b09b;
    background: -webkit-linear-gradient(to right, #00b09b, #96c93d);
    background: linear-gradient(to right, #00b09b, #96c93d);
    min-height: 100vh;
}

.text-gry {
    color: #aaa;
}

h5 {
    color: #0088dd;
}

ul {
    height: 100px;
}

#post-type-donate {
    color: white;
    font-family: 'Exo 2', sans-serif;
    margin-left: 45%;
}

#post-type-receive {
    color: white;
    font-family: 'Exo 2', sans-serif;
    margin-left: 45%;
}

.type-of-post-donate {
    background-color: #52b788;
    border-radius: 20px;
    /*border-bottom-left-radius:50%;*/
    /*border-bottom-right-radius:50%;*/
}

.type-of-post-receive {
    background-color: #f94144;
    border-radius: 20px;
    /*border-bottom-left-radius:50%;*/
    /*border-bottom-right-radius:50%;*/
}

.post-detail-card-donate {
    width: 600px;
    height: 1000px;
}

.post-detail-card-receive {
    width: 600px;
    height: 800px;
}

#photo-detail {
    max-width: 200px;
}

#post-detail-medicine-quantity {
    font-size: 30px;
}





