{% extends 'base.html' %}
{% load static %}
{% block title %}About Us{% endblock %}
{% block styles %}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Antique&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rakkas&family=Roboto&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lateef&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}


    <div style="text-align: center; margin-left: 2vh; margin-right: 2vh; margin-top: 2vh; border-style: wave">
        <h1 style="font-family: 'Rakkas', cursive;">Who are <span style="color: red">we</span>?</h1>
        <p style="font-family: 'Zen Antique',serif;">
            We are a group of cousins from Aley, Lebanon, of ages ranging from 9 to 20 years old living in Lebanon,
            Canada, France and the UAE who in the summer of 2021 looked at the state of our country and said enough is
            enough. We decided that if no one supports and helps our country when it needs the most help, we, the people
            will. That is how Medonations was born.</p>
        <h1 style="font-family: 'Rakkas', cursive;">من <span style="color: red">نحن </span></h1>
        <p style="font-family: 'Lateef', cursive; font-size: 25px">نحن مجموعة صغيرة من عاليه ، لبنان ، تتراوح أعمارنا
            بين 9 و 20 عامًا
            ونعيش في لبنان وكندا وفرنسا والإمارات. في صيف 2021 نظرنا إلى حالة بلادنا وقلنا كفى. قررنا أنه إذا لم يكن
            هناك من يدعم بلدنا ويساعده عندما يحتاج إلى أكبر قدر من المساعدة ، فإننا ، نحن الشعب ، سنقوم بذلك. وهكذا ولدت
            المنصة.
        </p>
        <h1 style="font-family: 'Rakkas', cursive;">What is <span style="color: red">Medonations</span>?</h1>
        <p style="font-family: 'Zen Antique',serif;">
            Medonations is a website that allows people living in Lebanon to donate or request non-prescription
            medicine. Users of Medonations are divided into two categories, donors and receivers. If you need a specific
            type of non-prescription medicine, you can create a request post asking for that medicine, and if someone
            who has the medication you need sees your post, they can get in contact with you and kindly donate. Suppose
            you have spare or excess non-prescription medicine you can afford to donate. In that case, you can create a
            donation post, so someone who needs your medication can contact you and receive your donation. The website's
            goal is to connect those who have spare non-prescription medicine that they can donate and those who need
            that medicine.
            Medonations is a non-profit website and will always be free. We hope that it will be a temporary solution to
            the crisis that is hitting the medical sector in our country and that we can ease the burden from our
            beloved people in Lebanon.
        </p>
        <h1 style="font-family: 'Rakkas', cursive;">ما هو <span style="color: red">الموقع </span></h1>
        <p style="font-family: 'Lateef', cursive; font-size: 25px">
            يتيح موقعنا الإلكتروني للأشخاص الذين يعيشون في لبنان التبرع بالأدوية التي لا تتطلب وصفة طبية أو طلبها. ينقسم
            مستخدمو منصتنا إلى فئتين ، المتبرعين والمستلمين. إذا كنت بحاجة إلى نوع معين من الأدوية التي لا تتطلب وصفة
            طبية ، فيمكنك إنشاء طلب لهذا الدواء ، وإذا رأى شخص لديه الدواء الذي تحتاجه منشورك ، فيمكنه الاتصال بك
            والتبرع. لنفترض أن لديك احتياطيًا أو زائدًا من الأدوية التي لا تتطلب وصفة طبية يمكنك التبرع بها. في هذه
            الحالة ، يمكنك إنشاء منشور تبرع ، حتى يتمكن الشخص الذي يحتاج إلى دوائك من الاتصال بك وتلقي تبرعك. هدف الموقع
            هو ربط أولئك الذين لديهم أدوية بدون وصفة طبية يمكنهم التبرع بها ، وأولئك الذين يحتاجون إلى هذا الدواء.
            هدفنا هو إنشاء موقع غير ربحي وسيكون دائمًا مجانيًا. نأمل أن يكون حلاً مؤقتاً للأزمة التي تعصف بالقطاع الطبي
            في بلدنا ، وأن نتمكن من تخفيف العبء عن أحبائنا في لبنان.
        </p>
        <h1 style="font-family: 'Rakkas', cursive;">Contact <span style="color: red">Us</span></h1>
        <p style="font-family: 'Zen Antique', sans-serif;">
            Medonations is a website for all Lebanese people so if you have any suggestions or ideas for improving
            the website please contact us.</p>
        <p style="font-family: 'Zen Antique', sans-serif;">Email : medonations.lb@gmail.com</p>


        <h1 style="font-family: 'Rakkas', cursive;">اتصل <span style="color: red">بنا </span></h1>
        <p style="font-family: 'Lateef', cursive; font-size: 25px">هذا الموقع لجميع اللبنانيين ، لذا إذا كان لديك أي
            اقتراحات أو أفكار لتحسين الموقع ، يرجى الاتصال بنا.</p>
        <p style="font-family: 'Zen Antique', sans-serif;">Email : medonations.lb@gmail.com</p>
    </div>


    <div style="text-align: center;"><img style="width: 400px; margin-top: 2vh; margin-bottom: 2vh; text-align: center" src="{% static '/images/tiana_art.jpg' %}" alt="logo2"></div>




{% endblock content %}
