{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block styles %}
    <link href="{% static 'css/home.css' %}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tajawal:wght@800;900&display=swap" rel="stylesheet">
 {% endblock %}
{% block content %}
    {#            {% for post in all_posts_list %}#}
    {#                <div class="post-entry">#}
    {#                    <h2><a href="{% url 'post_detail' post.pk %}">{{ post.medicine }}</a></h2>#}
    {#                </div>#}
    {#            {% endfor %}#}

    <h1 class="font-for-name">Welcome to where is the medicine</h1>


    <h1>مرحبا بكم في مكان الطب</h1>
    <p>lorem</p>
        <a href="{% url 'medicine_list' %}">Find Medicine</a>

    <h1 class="font-for-name">LOOK WHAT I CHANGED RYAN!</h1>


{% endblock content %}
