{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block styles %}
    <link href="{% static 'css/home.css' %}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tajawal:wght@800;900&display=swap" rel="stylesheet">

    {#    LINK FOR FONTS#}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amiri:wght@700&family=Cairo&family=Heebo:wght@500&family=Montserrat:wght@500&family=Playfair+Display:wght@900&family=Tajawal:wght@500&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo&family=Markazi+Text&family=Mirza:wght@400;600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
{% endblock %}
{% block content %}
    {#            {% for post in all_posts_list %}#}
    {#                <div class="post-entry">#}
    {#                    <h2><a href="{% url 'post_detail' post.pk %}">{{ post.medicine }}</a></h2>#}
    {#                </div>#}
    {#            {% endfor %}#}


    {##}
    {#    <div id="home-page-get-started">#}
    {#        <div class="row">#}
    {#            <div class="column">#}
    {#                <div class="home-page-writing">#}
    {##}
    {#                    <h1 class="font-for-english">Welcome to Medonations</h1>#}
    {#                    <p></p>#}
    {#                    <h3>A website where you can easily donate or request medicine from</h3>#}
    {#                    <h3>fellow Lebanese </h3>#}
    {##}
    {#                    <p></p>#}
    {##}
    {#                    <h1 id="font-for-arabic">Medonations مرحبا بكم في</h1>#}
    {#                    <h3>موقع إلكتروني يمكنك من خلاله التبرع بالأدوية أو طلب الأدوية منها بسهولة</h3>#}
    {#                    <h3>           </h3>#}
    {#                    <h3>أصغر عمل لطف يساوي أكثر من أعظم النوايا</h3>#}
    {#                    <p></p>#}
    {##}
    {#                    {% if user.is_authenticated %}#}
    {#                        <a href="{% url 'medicine_list' %}" class="btn btn-info" role="button">Search for donations/requests</a>#}
    {#                        <a href="{% url 'medicine_list' %}">Find Medicine</a>#}
    {#                        <h1 class="font-for-name">WELCOME {{ user.first_name }}</h1>#}
    {#                        <a href="{% url 'my_posts' %}">My Blog Posts</a>#}
    {#                    {% else %}#}
    {#                        <a href="{% url 'signup' %}" class="btn btn-info" role="button">Get Started / ابدأ </a>#}
    {#                        <h3>Already have an account?</h3>#}
    {#                        <h3>هل لديك حساب؟</h3>#}
    {#                        <a href="{% url 'login' %}" class="btn btn-primary" role="button">Log In / تسجيل دخول </a>#}
    {#                    {% endif %}#}
    {##}
    {#                    <p></p>#}
    {##}
    {#                </div>#}
    {#            </div>#}
    {#            <div id="home-page-image" class="column">#}
    {#                <img src="../static/images/home-page-img.png" alt="" class="home-image-center">#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}




    <div id="row" class="w3-row-padding">
        {% if user.is_authenticated %}
            <div class="w3-half">
                <img src="../static/images/home-page-img.png" alt="" class="home-image-center">
            </div>
        {% else %}
            <div class="w3-half">
                <img src="../static/images/home-page-img.png" alt="" class="home-image-center">
            </div>
        {% endif %}
        <div class="w3-half">
{#        IF USER IS LOGGED IN#}
            {% if user.is_authenticated %}
                <h1 style="font-size:4em" class="font-for-english">Welcome {{ user.first_name }} !</h1>
                <br>
                <br>
{#                <div id="search_bar" class="input-group mb-5">#}
{#                    <form action="{% url 'medicine_search' %}" method="get">#}
{#                        <label>#}
{#                            <input style="width: 920px;height: 54px;" name="q" placeholder="Search For Medicine" type="text" class="form-control">#}
{#                        </label>#}
{#                        <button style="height: 50px" id="search_button" type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>#}
{#                    </form>#}
{#                </div>#}
                <a style="font-family:'Markazi Text', serif;font-size: 25px" href="{% url 'post_new' %}" class="btn btn-info btn-lg btn-block" role="button">Donate / Request Medicine</a>
                <br>
                <a style="font-family:'Markazi Text', serif;font-size: 25px" href="{% url 'my_posts' %}" class="btn btn-warning btn-lg btn-block" role="button">My Posts</a>
                <br>
                <img style="margin-left: auto;margin-right: auto;width: 100%;display: block" src="../static/images/logo.png" alt="logo2">
{#                IF USER IS NOT LOGGED IN#}
            {% else %}
                <h1 style="font-size:4em" class="font-for-english">Welcome to Medonations!</h1>
                <br>
                <br>
                <h3 style="font-size:2.5em" class="english-writing">A website where you can easily donate or request medicine from fellow Lebanese</h3>
                <br>
                <a style="font-family:'Markazi Text', serif;font-size: 25px" href="{% url 'signup' %}" class="btn btn-info btn-lg btn-block" role="button">Get Started</a>
                <br>
                <div class="w3-row-padding">
                    <div class="w3-half">
                        <a style="font-family:'Markazi Text', serif;font-size: 25px" href="{% url 'login' %}" class="btn btn-primary btn-block" role="button">Log In</a>
                    </div>
                    <div class="w3-half">
                        <a style="font-family:'Markazi Text', serif;font-size: 25px" href="{% url 'about' %}" class="btn btn-secondary btn-block" role="button">About Us / How It Works</a>
                    </div>
                </div>
                <br>
                <br>
                <br>
                <h1 style="font-size:4em" id="font-for-arabic">!Medonations مرحبا بكم في</h1>
                <br>
                <br>
                <h3 style="font-size:2.5em" class="arabic-writing">موقع إلكتروني يمكنك من خلاله التبرع بالأدوية أو طلب الأدوية منها بسهولة</h3>
                <br>
                <a style="font-family:'Mirza', serif;font-size: 25px" href="{% url 'signup' %}" class="btn btn-info btn-lg btn-block" role="button">ابدأ </a>
                <br>
                <div class="w3-row-padding">
                    <div class="w3-half">
                        <a style="font-family:'Mirza', serif;font-size: 25px" href="{% url 'login' %}" class="btn btn-primary btn-block" role="button">تسجيل دخول</a>
                    </div>
                    <div class="w3-half">
                        <a style="font-family:'Mirza', serif;font-size: 25px" href="{% url 'about' %}" class="btn btn-secondary btn-block" role="button">من نحن / كيف يعمل الموقع</a>
                    </div>
                </div>
                <br>
                <br>
                <br>
                <br>
            {% endif %}

        </div>
    </div>

{% endblock content %}
