{% url 'about' as about %}
{% url 'home' as home %}
{% url 'post_new' as post_new %}
{% url 'signup' as signup %}
{% url 'login' as login %}
{% url 'terms' as terms %}
{% load static %}
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="{% static 'css/navbar.css' %}" rel="stylesheet">
</head>

<nav id="navbar" class="navbar navbar-expand-md main-nav py-1 py-lg-3 nav-fill w-100">
    <div class="container">
    <a href="{% url 'home' %}">
        <img class="medonations-logo" src="{% static  'images/logo.png'%}" alt="logo2">
    </a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu" aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="icon-bar icon-bar-1"></span>
        <span class="icon-bar icon-bar-2"></span>
        <span class="icon-bar icon-bar-3"></span>
    </button>
    <div class="navbar-collapse collapse" id="mainMenu">
        <ul id="list_of_links" class="navbar-nav ml-auto text-uppercase f1">
            <li>
                <a href="{% url 'home' %}" class="{% if request.path == home %}active{% endif %}">home</a>
            </li>
            <li>
                <a href="{% url 'about' %}" class="{% if request.path == about %}active{% endif %}">about us</a>
            </li>
            <li>
                <a href="{% url 'post_new' %}" class="{% if request.path == post_new %}active{% endif %}">Donate/Request Medicine</a>
            </li>
            {#IF USER IS LOGGED IN#}
            {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'logout' %}" >Log Out</a>
                </li>
                <li>
                    <a href="{% url 'my_posts' %}" >My Posts</a>
                </li>
                {#IF USER IS NOT LOGGED IN#}
            {% else %}
                <li>
                    <a href="{% url 'signup' %}" class="{% if request.path == signup %}active{% endif %}">Sign Up</a>
                </li>

            {% endif %}
                <li>
                    <a href="{% url 'terms'%}" class="{% if request.path == terms %}active{% endif %}">Terms of Service</a>
                </li>
            {#SEARCH BAR#}
            <li>
                <div id="search_bar" class="input-group mb-5">
                    <form action="{% url 'medicine_search' %}" method="get">
                        <label>
                            <input name="q" placeholder="Search For Medicine" type="text" class="form-control">
                        </label>
                        <button id="search_button" type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                    </form>
                </div>
            </li>
            <li>
                    <a href="{% url 'login' %}" class="{% if request.path == login %}active{% endif %}">
                        <button class="bouton-login">Login</button>
                    </a>
            </li>
        </ul>
    </div>
</nav>



 <!-- Scripts at the end so the page loads faster -->

<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
