{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% load app_template_tags %}
{% block title %}Post Detail{% endblock %}
{% block styles %}


    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" href="{% static 'css/map.css' %}"/>
    <script src="{% static 'javascript/map.js' %}"></script>
{% endblock %}
{% block content %}

    <style>
        .asteriskField {
            display: none;
        }
    </style>
    <style>
        html, body {
            width: 100%;
            height: 100%;
            margin: 0px;
            padding: 0px;
            overflow-x: hidden;
        }
    </style>

{#    <body style="background-image: url('{% static '/images/4.jpg' %}'); background-position: center; background-repeat: no-repeat;">#}

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-6">
                <div style="width: 100%; margin-top: 2vh" class="col d-flex justify-content-center">
                    <div class="card border-dark mb-3"
                         style="width: 30rem; margin-left: 2vh; margin-right: 2vh">
                        <div class="card-header">
                            <div style="text-align: left; margin-top: 5vh">
                                <h1 style="font-family: sans-serif;font-size: 25px;font-weight: 600;">New Post</h1>
                            </div>
                        </div>
                        <div class="card-body" style="margin-top: -2vh; margin-bottom: -3vh">
                            <p class="card-text">
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <div class="alert alert-info" role="alert">
                                            Not sure what to write?
                                            <br>
                                            <a class="alert-link" data-bs-toggle="offcanvas"
                                               href="#offcanvasExample">More Information</a>
                                        </div>
                                    </li>
                                    <li class="list-group-item">{{ form.post_type|as_crispy_field }}</li>
                                    <li class="list-group-item">
                                        <div class="row">
                                            <div style="margin-bottom: 1vh"
                                                 class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6"
                                                 id="name">
                                                {{ form.medicine_name|addcss:"form-control" }}
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                                                {{ form.medicine_quantity|as_crispy_field }}
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div style="margin-bottom: 1vh">{{ form.phone_number|as_crispy_field }}</div>
                                        <p style=" color: black; margin-bottom: -0.75vh; text-align: center">Expiry Date
                                            (If
                                            donating)</p>
                                        <div style="margin-top: 1vh">{{ form.expiry_date|as_crispy_field }}</div>
                                    </li>
                                    <li class="list-group-item">
                                        <div style="margin-top: 1vh" class="row">
                                            <div class="mb-3">
                                                <p style="color: black; margin-top: -0.5vh; margin-bottom: -0.1vh; text-align: center">
                                                    Address</p>
                                                <input id="address" class="form-control"
                                                       name="{{ form.address.html_name }}"
                                                       type="text"
                                                       value="{{ form.address.value }}" required/>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        {{ form.extra_info|as_crispy_field }}
                                    </li>
                                    <li class="list-group-item">
                                        <p style=" color: black; text-align: center; margin-bottom: -1vh">Image</p>
                                        <div style="margin-bottom: -2vh; margin-top: 1vh">
                                            {{ form.medicine_image|addcss:"form-control" }}
                                        </div>
                                    </li>
                                </ul>
                                <br>
                                <br>
                                <div style="margin-bottom: 5vh" class="d-grid gap-2">
                                    <button class="btn btn-success" type="submit">Post</button>
                                </div>
                            </form>
                            {% include 'bootstrap4/layout/help_text_and_errors.html' %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-6">
                <img style="width: 100%; margin-bottom: 10vh; margin-top: 2vh; border-radius: 5%;" src="{% static '/images/independence.jpg' %}"
                 alt="no img">
            </div>
        </div>
    </div>


    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel"><b>Creating Post</b></h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div>
                <b><u>Post Type</u></b>
                <br>
                If you are <u>donating</u> medicine select <b>Donation</b>
                <br>
                If you are <u>requesting</u> medicine select <b>Request</b>

                <br>
                <br>
                <b><u>Medicine Name</u></b>
                <br>
                The name of the medicine you are donating or requesting
                <br>
                eg. Panadol

                <br>
                <br>
                <b><u>Medicine Quantity</u></b>
                <br>
                The amount of medicine you are donating or requesting
                <br>
                eg. 5

                <br>
                <br>
                <b><u>Phone Number</u></b>
                <br>
                The phone number you want to use when contacting others
                <br>
                eg. +12125552368
                <br>
                <br>
                <b><u>Address</u></b>
                <br>
                The address where you want the exchange to take place.

                <br>
                <br>
                <b><u>Expiry Date</u></b>
                <br>
                <b>Only fill this out if you are donating medicine</b>
                <br>
                The date when the medicine expires
            </div>
        </div>
    </div>




    <script>
        let address;

        function initAutocomplete() {
            address = new google.maps.places.Autocomplete(
                document.getElementById('address'),
                {
                    componentRestrictions: {'country': ['LB']},
                    fields: ['name']
                }
            );
        }
    </script>


    {#    <div id="map"></div>#}

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script src="https://maps.googleapis.com/maps/api/js?key={{ google_key }}&libraries=places&callback=initAutocomplete"
            async
            defer>
    </script>

{% endblock content %}
