<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete</title>
</head>
<body>
{% extends 'base.html' %}

{% block styles %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Prompt&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}

    <div class="d-flex align-items-center justify-content-center" style="height: 80vh;">
        <form action="" method="post">{% csrf_token %}
            <div style="width: 100%;" class="col d-flex justify-content-center align-items-center">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title" style="text-align: center"><b>Confirm</b></h5>
                        {% if medicinepost.post_type == "Donate" %}
                            <p class="card-text">Are you sure you want to delete your post
                                donating {{ medicinepost.medicine_name }}?</p>
                        {% else %}
                            <p class="card-text">Are you sure you want to delete your post
                                requesting {{ medicinepost.medicine_name }}?</p>
                        {% endif %}
                    </div>
                    <button style="margin-bottom: 1vh; margin-right: 1vh; margin-left: 1vh" value="Confirm"
                            type="submit"
                            class="btn btn-danger">Delete Post
                    </button>
                    <a style="margin-bottom: 4vh; margin-right: 1vh; margin-left: 1vh" href="{% url 'my_posts' %}"
                       class="btn btn-dark btn-block"
                       role="button">Back to my posts</a>

                </div>
            </div>
            {#        <input type="submit" value="Confirm">#}
        </form>
    </div>





{% endblock content %}


</body>
</html>