<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Post Detail</title>
</head>


<body>
{% extends 'base.html' %}


{% block content %}
    <div class="post-entry">
        <h2>{{ post.medicine_name }}</h2>
        <p id="lat">{{ post.lat }}</p>
        <p id="long">{{ post.long }}</p>
    </div>
    
    <img src="{{ post.medicine_image.url }}">
    


    <p><a href="{% url 'post_edit' post.pk %}">+ Edit Blog Post</a></p>
    <p><a href="{% url 'post_delete' post.pk %}">+ Delete Blog Post</a></p>

    <script>
        function initMap() {
            const myLatLng = { lat: {{ post.lat }}, lng: {{ post.long }} };
            const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 15,
                center: myLatLng,
            });
            new google.maps.Marker({
                position: myLatLng,
                map,
                title: "Hello World!",
            });
        }
    </script>

    <div id="map"></div>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDONGu-q34eWXxxV_eS4wpaT5RpB4kHyZk&callback=initMap&libraries=&v=weekly"
            async
    ></script>

{% endblock content %}

</body>
</html>