{% extends 'base.html' %}
{% load static %}
{% block title %}Post Detail{% endblock %}
{% block styles %}
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" href="{% static 'css/map.css' %}" />
    <link rel="stylesheet" href="{% static 'css/medicine_list.css' %}" />
{% endblock %}

{% block content %}
    {#    <div class="post-entry">#}
    {#        <h2>{{ post.medicine_name }}</h2>#}
    {#        <p id="lat">{{ post.lat }}</p>#}
    {#        <p id="long">{{ post.long }}</p>#}
    {#    </div>#}
    {##}
    {#    <img src="{{ post.medicine_image.url }}">#}
    {% ifequal post.post_type 'Donate' %}
        <div class="d-flex justify-content-center container mt-5">
            <div class="post-detail-card-donate p-3 bg-white"><i class="fa fa-apple"></i>
                <div class="about-product text-center mt-2">
                    <img id="photo-detail" src="{{ post.medicine_image.url }}" width="300">
                    <div>
                        <h4>{{ post.medicine_name }}</h4>
                        <h6 class="mt-0 text-black-50">{{ post.address }}</h6>
                    </div>
                </div>
                <div class="stats mt-2">
                    <div id="post-detail-medicine" class="d-flex justify-content-between p-price"><span>Quantity: </span><span>{{ post.medicine_quantity }}</span></div>
                    <div id="post-detail-medicine" class="d-flex justify-content-between p-price"><span>Expiry Date</span><span>{{ post.expiry_date }}</span></div>
                    <div id="post-detail-medicine" class="d-flex justify-content-between p-price"><span>Phone Number: </span><span>{{ post.phone_number }}</span></div>
                </div>
                <div id="map"></div>
            </div>
        </div>
    {% endifequal %}

    {% ifequal post.post_type 'Receive' %}
        <div class="d-flex justify-content-center container mt-5">
            <div class="post-detail-card-receive p-3 bg-white"><i class="fa fa-apple"></i>
                <div class="about-product text-center mt-2">
                    <img id="photo-detail" src="{{ post.medicine_image.url }}" width="300">
                    <div>
                        <h4 id="post-detail-medicine">{{ post.medicine_name }}</h4>
                        <h6 id="post-detail-medicine" class="mt-0 text-black-50">{{ post.address }}</h6>
                    </div>
                </div>
                <div class="stats mt-2">
                    <div class="d-flex justify-content-between p-price"><span>Quantity: </span><span>{{ post.medicine_quantity }}</span></div>
                    <div class="d-flex justify-content-between p-price"><span>Phone Number: </span><span>{{ post.phone_number }}</span></div>
                </div>
                <div id="map"></div>
            </div>
        </div>
    {% endifequal %}

    {% if user.is_authenticated %}
        {% if user.id == post.author.id %}
            <p><a href="{% url 'post_edit' post.pk %}">+ Edit Blog Post</a></p>
            <p><a href="{% url 'post_delete' post.pk %}">+ Delete Blog Post</a></p>
        {% endif %}
    {% endif %}


    <script>
        function initMap() {
            const myLatLng = { lat: {{ post.lat }}, lng: {{ post.long }} };
            const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 15,
                center: myLatLng,
            });
            new google.maps.Marker({
                position: myLatLng,
                map,
                title: "Hello World!",
            });
        }
    </script>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDONGu-q34eWXxxV_eS4wpaT5RpB4kHyZk&callback=initMap&libraries=&v=weekly"
            async
    ></script>

{% endblock content %}
